<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatable" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>信息修改</title>
</head>

<body>
<!--获取flash消息-->
    {% with messages = get_flashed_messages() %}
<!--如果信息存在-->
        {% if messages %}
<!--循环打印-->
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h2 style="text-align:center;">信息修改</h2>

    <form action="/update/{{ id }}" method="post">
        <fieldset>
            <legend>个人信息：</legend>
<!--            防止表单自动提交-->
        {{ form.hidden_tag() }}
        <div style="font-size:20px;font-weight:bold;margin-left:150px;">
            姓名<br>
            {{ form.name }}
            <br>
            年龄
            <br> {{ form.age }}
            <br>
            {{ form.submit }}
        </div>
        </fieldset>
    </form>
</body>
</html>

</body>
</html>