<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatable" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!--获取flash消息-->
    {% with messages = get_flashed_messages() %}
    <!--如果信息存在-->
        {% if messages %}
    <!--循环打印-->
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="post" action="/uploader", enctype="multipart/form-data">
        <div style="display:block;float:left; margin-left:0px; margin-top:10px; background-color:#fff0f0;">
               <select name="hito">
                    {% for contact in contacts %}
                        <option value="{{ contact.name }}">{{ contact.name }}</option>
                    {% endfor %}
                </select>
            <div id="PlaceHolderFileUpload" style="border-color:#FF99CC;border-width:1px;border-style:solid;width:800px;">
                &nbsp;<b>上传文件</b> 文件1: <input type="file" name="file111" id="FileUploadFileName" style="width:600px;"><br>
                &nbsp;<b>　　　　</b> 文件2: <input type="file" name="file222" id="FileUploadFileName2" style="width:600px;"><br>
                &nbsp;<b>　　　　</b> 文件3: <input type="file" name="file333" id="FileUploadFileName3" style="width:600px;"><br>
                &nbsp;<b>　　　　　          </b><input type="submit" name="ButtonFileUploadSubmit" value="提交" style="color:#990000;">
            </div>
        </div>
    </form>
</body>
</html>